
$colores-rosa: (

color-menu: rgb(255, 121, 219),
color-hover: rgb(245, 71, 230),
color-footer: rgb(213, 122, 246),
color-mensaje-fondo: rgb(168, 122, 246),
color-fondo-html: #ef97f515,

);

$fuente-general:  Arial, Helvetica, sans-serif;

$redes: (
    twitter: #55acee,
    facebook: #3a5795,
    send-mail: #c25e30,
);


