%fondo {

background: map-get($map: $colores-rosa, $key: color-fondo-html );
background-image: no-repeat;
background-repeat: no-repeat;
background-size:cover;
background-image: fixed;
background-image: center;
font-size:1.8rem;
}


.imagenGira
{
animation: spin 80s linear infinite;
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
}