@import "colores";
@import 'formatoFondo';
@import "footer";

/* mixin */


*
{
    margin: 0;
    margin-top: 0px; 
    box-sizing: border-box;
     }

/* Fondo */

html{
    text-decoration: none;
    font-size: 62.5%;
 a{
    text-decoration: none;
}
}

body
{

    @extend %fondo;

    background-image :url("Assets/Mandala_Transparente_2.02.png") ;

/*Fuente General*/

    font-family: $fuente-general;
    }

    
    /*Titulos*/

body h1
{
    justify-content: center;

    align-items: center;
    font-size: 5rem;
    }



.gridConteiner{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);

    column-gap: 5px;
    justify-items:space-around ;
    align-items: center;
    





grid-template-areas:
"logoIndex Menu Menu Menu Menu Menu  "
" logoIndex Presentacion Presentacion Presentacion Presentacion ."
". Presentacion Presentacion Presentacion Presentacion ."
". Presentacion Presentacion Presentacion Presentacion ."
"imagenes imagenes imagenes  imagenes imagenes imagenes"
"footer footer footer footer footer footer"
   ;
}



section#cv{
    margin: 10%;
}



section#Presentacion{
    grid-area: Presentacion;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    font-size: larger;

}

footer{
    grid-area: footer;
    width: 100%;
    height: 100%;
   column-gap: 5px;
  background-color: map-get($map: $colores-rosa, $key: color-footer );
}


section#logoIndex{
    grid-area: logoIndex;
}

header{
    grid-area: Menu;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  
}
section#imagenesPresentacion{
    grid-area: imagenes;
    width: 100%;
    height: 100%;
}

$enable-grid-classes: false;




section#Menu{
    grid-area:Menu;
    
}

/* Cuando es escritorio*/
@media screen and (max-width:850px){
    nav {
        display: flex;
        
            width: 100%;
           margin-left: 10px;
} }

nav {
display: flex;

    width: 80%;
   margin-left: 10px;

 ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 1.5rem;
    background-color: map-get($map: $colores-rosa, $key: color-menu );
    border-radius: 3px;


        li  :hover{

          background-color: map-get($map: $colores-rosa, $key: color-hover );
            transition: 1s;
            transform: scale(1.08);
            border-radius: 5px;
          
         
         }

    }
}



.navbar-light .navbar-toggler{
    color:map-get($map: $colores-rosa, $key: color-hover );
    background-color: map-get($map: $colores-rosa, $key: color-menu )
}

/*Inicio*/




.index_logo img 
{
    margin:auto;
    display: block;
    min-height: 50px;
    }

.flex__container__imagenes
{


    width: 100%;
    display: flex;
    /*flex-direction: row;
    flex-wrap: nowrap;*/
    flex-flow: center;
    justify-content: space-around;

    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;

    }


/*Quienes Somos?*/

img.quienesSomos_silueta 
{
    float: left;
   padding: 30px;
    }


/*Blog*/
/*Alineacion */

.flex__container__blog
{
    display: flex;
    /*flex-direction: column;
    flex-wrap: nowrap;*/
    flex-flow: column nowrap;
    justify-content: space-evenly
    }



/*formato*/

.Blog_EntradaBlog 
{
    
    width: 90%;
    margin: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: #edb1f18e;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    display: block;
    }

 /* .Blog_EntradaBlog--imagen{

  }*/

p
{
    margin-bottom: 10px;
    }

.Blog_EntradaBlog h2
{
    font-style:normal;
    }

  /* Boton leer mas*/
.Blog_EntradaBlog--BotonLeer
{
    background-color: #c5c4ebd0;
    padding: 10px;
    text-align: center;
    font-style: italic;
    color: white;
    display: inline-block ;
    width: 20%;
    border-radius: 20px;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 2px;
    }



/*Boton Agendar una cita*/

.BotonAgendar 
{
    background-color: map-get($map: $colores-rosa, $key: color-menu );
    padding: 15px;
    text-align: center;
    font-style:oblique;
    color: white;
    width: max-content;
    border-radius: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    }

/*movimiento del boton*/

.BotonAgendar  :hover
{
    background-color: map-get($map: $colores-rosa, $key: color-hover );
    padding: 15px;
    text-align: center;
    font-style:oblique;
    color: white;
    width: max-content;
    border-radius: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    }


iframe{
    width: 100%;
    max-width: 500px;
}

  
@media screen and (min-width:850px) {
    section#carouselImagenes{
        display: none;
    }

    .mensaje{
    
        width: 100%;
        height: 100%;
        background: map-get($map: $colores-rosa, $key: color-mensaje ) ;
        text-align: justify;
        border-radius: 10px 10px 10px 10px;
        padding: 50px;
        margin: 10px;
        border: 10px;
        border-color: rgb(0, 55, 255);
      



    }

}







@media screen and (max-width:850px) {





    

body{
    background-image: url(./Assets/Mandala_Transparente_2.02.png);
    background-size: contain;
    background-repeat: repeat;
}   
    
.gridConteiner{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;

    column-gap: 5px;
    justify-items:space-around ;
    align-items: center;
grid-template-areas:


" Menu Menu Menu "
" logoIndex logoIndex logoIndex "


"Presentacion Presentacion Presentacion "
"Presentacion Presentacion Presentacion "
"imagenes imagenes imagenes"
"footer footer footer "

   ;
}


section#carouselImagenes{

    
    
            grid-area: imagenes;
            width: 100%;
            height: 100%;
padding: 40px;

        }


        section#imagenesPresentacion{
            display: none;
        }


html h1
    {
    
        
            justify-content: center;
        text-align:center ;
            align-items: center;
            font-size: 5rem;
            }
    


    section#Presentacion{
border: 10px;
    }
    .mensaje{
            width: 100%;
            height: 100%;
            background: map-get($map: $colores-rosa, $key: color-mensaje ) ;
            text-align: justify;
            border-radius: 10px 10px 10px 10px;
            padding: 50px;
            margin: 10px;
            border: 10px;
            border-color: rgb(0, 55, 255);       

     }

        .index_logo img 
        {
         
            grid-area: logo;
            min-height: 100px;
            margin-top: 70px;

        }
    }


        
    